<div class="detail-product">
    <h2 style="text-align: center;color: rgb(24, 3, 117);">Chi tiết sản sản phẩm {{product.name}}</h2>
    <div class="detail-left"><img src="{{product.image}}" alt="loi roi!"></div>

    <div class="detail-right">
        <h3>Tên sản phẩm: <strong style="color: blue">{{product.name}}</strong></h3><br>
        <h4>Thương hiệu: <strong style="color: blue">{{product.brand}}</strong></h4><br>
        <h4>Danh mục sản phẩm: <strong style="color: blue">{{product.categoryId}}</strong></h4><br>
        <h4>Giá: <strong style="color: blue">{{product.price}}</strong></h4><br>
        <h4>Mô tả: {{product.description}}</h4>
    </div>
</div>