
.detail-product {
    width: 1250px;
    margin-top: 30px;   
    text-align: left;
    
}

.detail-left {
    width: 370px;
    height: 500px;
    float: left;
    margin-left: 150px;
    // background-color: rgb(150, 38, 116);

    img {
        width: 350px;
        height: 450px;
    }
}



.detail-right {
    // background-color: aqua;
    margin-top: 30px;   
    margin-left: 10px;
}