<div class="editProduct">
    <h3 style="text-align: center">Admin đang sửa thông tin sản phẩm <br> <strong
            style="color: rgb(41, 255, 34)">{{product.name}}</strong></h3>

    <div class="editProduct-form"  >
        <div class="form-group">
            <label>image</label>
            <input  [(ngModel)]="product.image" [ngModelOptions]="{standalone: true}" name="imagePro">
        </div>
        <div class="form-group">
            <label>name</label>
            <input [(ngModel)]="product.name" [ngModelOptions]="{standalone: true}" name="namePro">
        </div>
        <div class="form-group">
            <label>brand</label>
            <input [(ngModel)]="product.brand" [ngModelOptions]="{standalone: true}" name="brandPro">
        </div>
        <div class="form-group">
            <label>category</label>
            <input [(ngModel)]="product.categoryId" [ngModelOptions]="{standalone: true}" name="categorypro">
        </div>
        <div class="form-group">
            <label>price</label>
            <input [(ngModel)]="product.price" [ngModelOptions]="{standalone: true}" name="pricePro">
        </div>
        <table>
            <tr>
                <td><button mat-button (click)="noEdit()" style="color: pink">No,Thanks</button></td>
                <td><button  class="btn btn-primary" (click)="updateProduct()" placeholder="">Edit Product</button>
                </td>
            </tr>
        </table>
    </div>
</div>